.gigs{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .breadcrumbs{
            font-weight: 300;
            color: #404145;
            font-size: 14px;
        }
        p{
            color: #74767e; 
        }

        .menu{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #555;
                font-weight: 500;

                input{
                    padding: 5px;
                    border: 1px solid lightgrey;
                    outline: none;
                    border-radius: 5px;

                    &::placeholder{
                        color: gray;
                    }
                }
                button{
                    background-color: #1dbf73;
                    padding: 7px 12px;
                    color: white;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    font-weight: 500;
                    text-align: center;

                    &:hover{
                        background-color: #13b067;

                    }
                }

            }
            .right{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                .sortBy{
                    color: #555;
                    font-weight: 500;
                }

                .sortType{
                    font-weight: 500;
                }

                img{
                    width: 15px;
                    cursor: pointer;
                }

                .rightMenu{
                    padding: 20px;
                    position: absolute;
                    background-color: white;
                    border-radius: 5px;
                    border: .5px solid lightgrey;
                    top: 30px;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: #555;
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: space-between;
        }
    }
}