.gig{
    .container{
        .left{
            .breadCrumbs{

            }
            h1{
                font-size: 25px;
            }
            .user{
                display: flex;
                align-items: center;

                .userPicture{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .stars{
                    display: flex;
                    align-items: center;
                    img{
                        width: 14px;
                        height: 14px;
                        
                    }
                }
            }
            
        }
        .right{

        }
    }
}