.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 800px;

            h1{
                font-size: 50px;
                
                i{
                    font-weight: 300px;
                }
            }
            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;

                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        width: 20px;
                        height: 20px;
                        margin: 15px;
                    }
                    input {
                         border: none;
                         outline: none;
                    }

                }
                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1DBF73;
                    padding: 12px 24px;
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;

                }
            }
            .popular {
                display: flex;
                align-items: center;
                gap: 10px;
                span {

                }
                button {
                    color: white;
                    background-color: transparent;
                    border-radius: 40px;
                    font-size: 14px;
                    font-weight: 600;
                    border: 1px solid #fff;
                    padding: 1px 12px 0px;
                    line-height: 24px;
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                }
            }

        }
        .right {
            height: 100%;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

    }
}