.orders-page{
    display: flex;
    justify-content: center;
    padding: 0px 32px 0px 32px;

    .orders-page-container{
        width: 1200px;
        padding: 50px 0px;

        .orders-page-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;

            .add-new-gig-button{
                padding: 10px 20px; 
                text-align: center;
                color: white;
                background-color: #1dbf73;
                border: 1px solid transparent;
                border-radius: 4px;
                font-weight: 500;
                font-size: 15px;
                transition: 70ms cubic-bezier(.15,0,.25,1);
                cursor: pointer;
                
                &:hover{
                    background-color: #10aa62;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    color: white;
                    
                }

            }

        }
        table{
            width: 100%;
            tr{
                
                 height: 50px;

                 th{
                    text-align: left;
                 }

                 td{
                   
                    .table-image{
                        width: 70px;
                        height: 50px;
                        object-fit: cover;
                        border: 1px solid lightgray;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    .contact-button-image{
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        cursor: pointer;
                    }

                 }
                 &:nth-child(even){
                    background-color: #edfcf5;
                    
                }
            }

           
            
        }
    }
}