.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 32px;
    background-color: #013914;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 999;

    &.active {
        background-color: white;
        color: black;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            font-size: 34px;
            font-weight: bold;
            .text {

            }
            .dot {
                color: #1dbf73;
            }
        }
        .links {
            display: flex;
            gap: 24px;
            font-weight: 500;
            align-items: center;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid green;
                }
                .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    width: 200px;
                    font-weight: 300;
                }

            }
            button {
                color: white;
                padding: 10px 16px;
                background-color: transparent;
                border-radius: 5px;
                font-weight: 700;
                border: 1px solid white;
                cursor: pointer;

                &:hover {
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                    transition: all .2s ease;
                }
            }
        }
    }
    hr {
        border: 0.5px solid lightgray;
        
    }

    .menu {
       padding: 10px 0px;
       display: flex;
       justify-content: space-between;
       font-size: 16px;
       cursor: pointer;
       font-weight: 300;
      
    }
}